name: Build and deploy codes

on: [push]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: pulling codes
        uses: action/checkout@v3
      - name: say hi
        run: echo "hello world"
       